
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#grid-container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(6,1fr);
}

.item{
    padding: 15px;
    background-color: rgb(125, 126, 114);
    border: none;
}

.pic{
    grid-column: span 4;
    grid-row: span 6;
    background-color: yellow;
}

img{
    height: 100%;
    border-radius: 500px;
    padding: 10px;
    border: ridge;
}

.navi{
    grid-column: span 6;
    grid-row: span 6;
}

.navi ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,1fr);
}

.navi li{
    list-style: none;
    font-weight: bold;
}

.home{
    grid-column: span 1;
}

.about{
    grid-column: span 1;
}

.navi a{
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

.text{
    grid-column: span 10;
    grid-row: span 14;
    justify-content: space-around;
    background-color: rgb(255, 121, 144);
}

.bich{
    margin-top: 30%;
}

.bich h1,h2{
    text-align: center;
}

.copy{
    text-align: right;
    color:rgb(42, 4, 124);
    font-size: larger;
    margin-top: -25px;
}