*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.flex-container{
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(imgs/background.jpeg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    box-sizing: border-box;
    overflow: scroll;
}

.log{
    text-align: justify;
    padding: 20px;
}

.logo{
    height: 4rem;
}

.flexo{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1,h2{
    color: aliceblue;
}

button{
    width: 200px;
    font-size: 23px;
    font-weight: bolder;
    padding: 12px 0;
    margin: 20px;
    margin-left: -10px;
    background: transparent;
    border: 2px solid #009688;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button:hover{
    border: none;
}
.contact{
    text-decoration: none;
    color:rgb(9, 180, 9);
}

span{
    background:#02b9a75a;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    /* z-index: -1; */
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

p{
    color: aliceblue;
    line-height: 15px;
}

.text{
    align-items: center;
    flex-basis: 50%;
    cursor: context-menu;    
}

.h{
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.cards{
    position: relative;
}

.cards::after{
    content: "";
    height: 3px;
    width: 0;
    background: rgba(39, 39, 189, 0.814);
    position:absolute;
    bottom: -10;
    left: 0;
    transition: 0.5s;
}

.cards:hover::after{
    width: 100%;
}

.cards{
    width: 15rem;
    height:18rem;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    margin:10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.cards:hover{
    transform: translateY(-10px);
}

.about{
    background-image: url(imgs/about.jpg);
}

.education{
    background-image: url(imgs/about.jpg);
}

.hobby{
    background-image: url(imgs/about.jpg);  
}

.skill{
    background-image: url(imgs/about.jpg);
}

