*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image:linear-gradient(#7A8A81,#7A8A81,#3A606E,#7A8A81,#607B7D);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

button{
    font-size: large;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 2px;
    position: relative;
}

button::after{
    content: "";
    height: 3px;
    width: 0;
    background: rgba(255, 255, 255, 0.814);
    position:absolute;
    bottom: -2px;
    left: 0;
    transition: 0.5s;
}

button:hover::after{
    width: 100%;
    border-radius: 50px;
}

nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 2rem;
    position: relative;
}

nav li{
    padding: 20px 0;
    background: transparent;
}
nav::after{
    content: "";
    height: 3px;
    width: 100%;
    background: rgba(0, 0, 0, 0.666);
    position:absolute;
    bottom: -2px;
    left: 0;
}

.container{
    display:flex;
    margin-top: 20px;
}
img{
    padding: 20px;
}
.text{
    padding: 20px;
    border-left: #1b2d33 solid 2px;
}

.text h1{
    font-size: 48px;
}
.text p{
    font-size: 28px;
    text-decoration: underline;
}