    
body{
    background-color: yellow;
}

h1{
padding: 40px;
text-align: center;
}

h2{
    text-align: center;
}

.pic {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

img{
    height: 300px;
    width: 300px;
}

p{
    text-align: center;
} 

@media only screen and (max-width:480px) {
    .pic{
        flex-wrap: wrap;
    }
}