
body{
    background-color: rgb(31, 113, 13);
    color: white;
}
h1{
    font-size: 82px; 
    font-family: "Times New Roman",Times,Serif;
    /* margin: 200px 1000px 100px 100px; */
    /* for rectangle */
    margin-left: 100px ;
    max-width: 45%;
}
h2{ 
    margin-top: -30px;
    margin-left: 100px;
    font-size: 30px;
}
.venue{
    margin-top:100px ;
    margin-left: 100px;
    margin-bottom: -100px;
}
nopad{
    padding-top: -400px;
}
input{
    margin-left: 100px;
    margin-top: 200px;
    width: fit-content;
    font-size: 20px;
    background-color: orange;
    color:black;
    border: none;
    border-radius: 50px;
    padding: 20px;
    font-weight: bold;
}
#image{
    text-align: right;
    margin-top: -850px;
    /* height: 100%;
    width: auto; */
}
img{
    /* height: 1200px; */
    height: 855px;
    width: 50%;
}